<!DOCTYPE html>
<html>
<head>
  <title>QueueSkipper - Why Wait?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRLjxxwTkiHqYBVSp8LBrs31q9mcxzAGc">
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>

<%= yield %>

</body>
</html>